*{
    margin: 0px;
    padding: 0px;
}

.hero{
    display: flex;
    /* align-items: flex-end; */
    height: 820px;
}
.heroText{
    width: 50vw;
}
/* .imageVector{
   height: 839px;
   width: 752px;
} */
.imageBox{
    width:50vw;
    background-image: url('../../../public/images/Pizza.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-size: 735px;
}
.imageBox img{
    height: 100%;
    width: 100%;
}

