@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=Poppins:wght@300;600;700&family=Roboto:wght@300;400&family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=Poppins:wght@300;700&family=Roboto:wght@300;400&family=Source+Sans+3:wght@700&display=swap');



/* Basic styling for cards */
.card-container {
    display: flex;
    /* Arrange cards horizontally in desktop view */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    /* You can adjust the max-width as needed */
}

.cardc {
    width: 381px;
    /* Desktop width */
    height: 554px;
    /* Desktop height */
    margin-bottom: 20px;

    border-radius: 10px;
    border: 0.5px solid #93A2D361;
    border-radius: 10px;

}

/* Image inside the card */
.cardc img {
    width: 326px;
    height: 257px;
    border-radius: 27px;
    margin: 20px auto;
    display: block;
}

/* Styling for pagination buttons */
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    border: none;
    background-color: #ddd;
    color: #333;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination button.active {
    background-color: #333;
    color: #fff;
}



.cardc button {

    padding: 5px 15px 5px 15px;
    border-radius: 34px;
    border: 1px solid #424961;
    color: #424961;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 5px;

}



.cardc p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--para-color);
    font-size: 15px;
    line-height: 27.41px;
    padding-left: 30px;
    padding-top: 15px;
}

.cardc h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 21px;
    padding-left: 30px;
    padding-top: 30px;
    color: var(--primary);
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        /* Arrange cards vertically in mobile view */
        align-items: center;
    }

    .cardc {
        width: 271px;
        /* Mobile width */
        height: 484px;
        /* Mobile height */
    }

    .cardc img {
        width: 150px;
        /* Adjust image size for mobile */
        height: 122px;
    }
}

.LatestArticles div h2 {

    margin: 0 auto;
    color: var(--primary);

    font-family: 'Source Sans 3';
    font-size: 40px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.04em;
    /* text-align: left; */
    margin-left: 10vw;
    margin-top: 8vw;
    margin-bottom: 3vw;

}